* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

:root {
  --bg-color: #fff;
  --snd-bg-color: #d5fdf9;
  --text-color: #000;
  --main-color: #007f73;
}
.navb {
  height: 80px;
  width: 100%;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding-left: 30px;
  padding-top: 10px;
  color: #fff;
  font-size: 35px;
  transition: all 0.5s ease-in-out;
}



.logo:hover {
  transform: scale(1.2); /* Grows the text by 20% */

}




.list-item ul,
li {
  display: inline-block;
  padding-right: 30px;
}
.list-item ul,
li,
a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: #fff;
}
.list:hover {
  color: #000;
}

.menu i {
  font-size: 30px;
  display: none;
  color: #fff;
}

/* hero_sedction */
.home {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 100px;
  gap: 80px;
  padding-top: 100px;
}
.home-img img {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}

.leftside-img {
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  animation: updown 4s ease-in-out infinite;
  transition: 0.4s ease;
}



@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content h3 {
  font-size: 37px;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}
.home-content h1 {
  font-size: 63px;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p {
  font-size: 16px;
}
.social-media a {
  display: inline flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}
.social-media a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 25px var(--main-color);
}
.btn {
  display: inline block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
}
.btn:hover {
  box-shadow: 0 0 1.6rem var(--main-color);
}

.right-side-image {
  width: 350px;
  height: 350px; /* Ensure height is equal to width */
  background-image: url("1_image-removebg.png"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
}

.right-side-image:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}

.About {
  margin-top: 50px;
  height: 500px;
  width: 100%;
  background-color: #bfd3d1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  line-height: 1.3;
}
.About h1 {
  font-size: 60px;
}
.left-side-text h3 {
  font-size: 30px;
}
.left-side-text p {
  font-size: 20px;
  margin-top: 20px;
}
.About-btn {
  height: 40px;
  width: 150px;
  background-color: #007f73;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.About-btn:hover {
  box-shadow: 0 0 1.6rem var(--main-color);
}
/* My .service */
.service {
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
}

.Service-pr {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}

.font-service {
  height: 360px;
  width: 25%;
  margin-bottom: 20px;
  background-color: #bfd3d1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease, border 0.3s ease;
}

.font-service:hover {
  box-shadow: 0 0 1.6rem var(--main-color);
}

.font-service i {
  font-size: 60px;
}

.font-service p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Tastimonial */
  
.Testimonial{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}
.font-Testimonial{
 height: 400px;
  width: 25%;
  margin-bottom: 20px;
  background-color: #bfd3d1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease, border 0.3s ease
}
.font-Testimonial:hover{
  
  box-shadow: 0 0 1.6rem var(--main-color);

}
.font-Testimonial p{
   padding-left: 20px;
   margin-top: 20px;
   text-align: center;
}
.test-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.star-icon{
    color: rgb(223, 196, 22);
}



/* conatct section */
.contact-section {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    line-height: 35px;
    
  }
  .contact-section h2{
     margin-bottom: 30px;
  }
  
  .contact-section h2 {
    font-size: 2.5rem;
    color: #007d72;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    gap: 15px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #007d72;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  textarea {
    resize: none;
  }
  
  .submit-button{
    height: 40px;
    width: 180px;
    text-align: center;
    margin-left: 280px;
    background: var(--main-color);
    border:  none;
    border-radius: 25px;
    color: white;
    font-weight: 600;
  }
  
  button:hover {
    box-shadow: 0 0 1.6rem var(--main-color);
  }

  .form-group{
    margin-bottom: 25px;
  }


  /* footer section  */

  footer{
    height: 200px;
    width: 100%;
    background-color: #bfd3d1;
    display: flex;
    justify-content: center;
  }
  .copy-footer{
    margin-left: -40px;
  }
  .copy-footer p{
    font-weight: 500;
  }






@media only screen and (max-width: 600px) {
  .list-item ul,
  li {
    display: none;
  }
  .list-item ul,
  li,
  a {
    font-size: 1.2rem;
  }
  .menu i {
    display: block;
    padding-left: 80px;
  }
  .home {
    display: block;
    flex-direction: column;

    padding-top: 50px;
  }
  .home-img img {
    margin-left: -50px;
  }
  .home-content {
    margin-left: -80px;
    margin-top: 20px;
  }

  .home-content h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  .home-content p {
    font-size: 12.8x;
  }
  .home-content h3 {
    font-size: 21px;
  }

  /* About section  */
  .About {
    display: flex;
    flex-direction: column-reverse;
  }
  .About {
    height: 100vh;
  }
  .About h1 {
    font-size: 50px;
  }
  .left-side-text {
    padding-left: 20px;
  }

  /* My Service */
  .font-service {
    width: 90%; /* Full width for mobile */
  }
  .font-Testimonial{
    width: 90%;
  }
  .contact-section {
    width: 90%;
    
  }

  .submit-button{
    
    margin-left: 80px;
    
  }
}
